In [1]:
import time
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier, MLPRegressor
import calculations.item_functions as feature
import pandas as pd

In [2]:
#bike sharing data
data = pd.read_csv('../datasets/bike.csv')
y = data['cnt'] #> 75
X = data.drop(['cnt', 'registered', 'casual', 'instant'], axis=1)
data

,instant,dteday,season,year,month,hour,holiday,weekday,workingday,weather_situation,temperature,feeling_temperature,humidity,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [3]:
X = X.select_dtypes(include=[np.number]) #filter X to only include numeric columns
X = X.fillna(X.mean()) #fill NaN values with the mean of the column


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

X_test = X_test.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

X_train_means = X_train.mean().to_frame().T

COLUMNS = X_train.columns

#regression
nn = MLPRegressor(solver="adam", alpha=1e-1, hidden_layer_sizes=(10, 15, 20, 20, 15, 10), random_state=0, max_iter=1000)
nn.fit(X_train, y_train)

def print_R2(f):
    print(
        "R2 = {0}".format(
            f(X_test, y_test))
    )
    time.sleep(0.5)  # to let the print get out before any progress bars
    
print_R2(nn.score)

R2 = 0.8891076544943505

In [4]:
import pickle

with open('../datasets/bike_nn.pkl', 'wb') as file:

    # A new file will be created
    pickle.dump(nn, file)

In [5]:
with open('../datasets/bike_train.csv', 'wb') as file:
    
        # A new file will be created
        X_train.to_csv(file, index=False)

In [6]:
with open('../datasets/bike_traintruth.csv', 'wb') as file:
    
    y_train.to_csv(file, index=False)